.center{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);

}
.aadhaar-input{
    background: #eee;
    height: 40px;
    width: 200px;
    border: 1px solid #eee;
    outline:none;
    border-radius: 5px;
    padding: 0 8px;
}
.aadhaar-input:focus{
    background: #fff;
    border: 1px solid palevioletred;
}
.btn{
    color: #fff;
    background: palevioletred;
    height: 40px;
    border: 1px solid palevioletred;
    outline:none;
    border-radius: 5px;
    cursor: pointer;
}
.note{
    font-size: 10px;
    color: rgb(156, 156, 156);
    padding: 2px;
}